<section>
    <div class="container">
        <div class="row mt-4">
            <a href="/admin/add-product" class="btn btn-success ml-auto">Add Product</a>
        </div>
        <table class="table mt-4">
            <thead>
                <tr>
                    <th scope="col">SI No</th>
                    <th scope="col">Name</th>
                    <th scope="col">Image</th>
                    <th scope="col">Category</th>
                    <th scope="col">Price</th>
                    <th scope="col">Offer</th>
                </tr>
            </thead>
            <tbody>
                {{#each products}}
                <tr>
                    <th scope="row">{{this._id}}</th>
                    <td>{{this.Name}}</td>
                    <td><img class="product-list-im" src="/product-images/{{this._id}}.jpg" alt="image-p" />
                    </td>
                    <td>{{this.Category}}</td>
                    <td>{{this.Price}}</td>
                    <td>{{this.Offer}}</td>
                    <td><a href="/admin/delete-product/{{this._id}}" class="btn btn-danger"
                            onclick="return confirm('Do you want to delete')">Delete</a></td>
                    <td><a href="/admin/edit-product/{{this._id}}" class="btn btn-primary">Edit</a></td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</section>